

<!DOCTYPE html>
<html lang="zh-CN"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- 设置标题 -->
    <title>
        
    Medivh' blog ...

    </title>
    <link rel="icon" href='/statics/imgs/favicon.ico' type="image/x-icon"/>

    <!-- 设置描述性标签和关键词标签 -->

    <meta content="python,运维自动化,运维平台化,saltstack,ansible,docker" name="description">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- icon -->
    <link rel="stylesheet" href="/statics/CACHE/css/1fca35800369.css" type="text/css" />

    <script type="text/javascript" src='https://code.jquery.com/jquery-3.2.1.js'></script>
    


    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255, 255, 255, .38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>

</head>
<body class="home blog">
<header id="zan-header" class="navbar navbar-inverse bs-docs-nav">
    <nav class="container">
        <div class="navbar-collapse bs-navbar-collapse collapse">
            
    <ul class="nav navbar-nav" id="nav_head">
        <li><a href="/">首页</a></li>
    </ul>


            <div class="search visible-lg">
                <form method="get" id="searchform" class="form-inline" action="/search/">
                    <input class="form-control" type="text" name="q" id="s" placeholder="搜索...">
                    <button type="submit" class="btn btn-danger btn-small"><i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div id="if-fixed" class="pull-right visible-lg visible-md">
        <i class="fa fa-thumb-tack"></i>
        <div class="icheckbox_flat-red" style="position: relative;"><input type="checkbox"
                                                                           style="position: absolute; opacity: 0;">
            <ins class="iCheck-helper"
                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
        </div>
    </div>
</header>


<section id="zan-bodyer">
    <div class="container">
        <section class="row">
            <section id="mainstay" class="col-md-9">

                
    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/96/"
                        >三星在广告中嘲笑iPhone X：设计糟糕，没有耳机接口 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/96/"
                            title="三星在广告中嘲笑iPhone X：设计糟糕，没有耳机接口" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>2</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/96/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        三星在广告中嘲笑iPhone X：设计糟糕，没有耳机接口
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/96/"
                   title="详细阅读  三星在广告中嘲笑iPhone X：设计糟糕，没有耳机接口">阅读全文 <span class="badge">2</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/97/"
                        >美媒：中国正用量子技术接管世界，这是一次非凡的展示 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/97/"
                            title="美媒：中国正用量子技术接管世界，这是一次非凡的展示" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/97/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        美媒：中国正用量子技术接管世界，这是一次非凡的展示
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/97/"
                   title="详细阅读  美媒：中国正用量子技术接管世界，这是一次非凡的展示">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/98/"
                        >外媒关注双11购物节：看阿里京东今年如何对决 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/98/"
                            title="外媒关注双11购物节：看阿里京东今年如何对决" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>1</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/98/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        外媒关注双11购物节：看阿里京东今年如何对决
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/98/"
                   title="详细阅读  外媒关注双11购物节：看阿里京东今年如何对决">阅读全文 <span class="badge">1</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/99/"
                        >苹果Apple Watch Series 3曝询问天气死机Bug，国行不受影响 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/99/"
                            title="苹果Apple Watch Series 3曝询问天气死机Bug，国行不受影响" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/99/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        苹果Apple Watch Series 3曝询问天气死机Bug，国行不受影响
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/99/"
                   title="详细阅读  苹果Apple Watch Series 3曝询问天气死机Bug，国行不受影响">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/100/"
                        >继续跳水，苹果iPhone 8 Plus国行5388元到手 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/100/"
                            title="继续跳水，苹果iPhone 8 Plus国行5388元到手" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/100/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        继续跳水，苹果iPhone 8 Plus国行5388元到手
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/100/"
                   title="详细阅读  继续跳水，苹果iPhone 8 Plus国行5388元到手">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/109/"
                        >暴雪嘉年华现场实拍：这里简直是粉丝的天堂 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/109/"
                            title="暴雪嘉年华现场实拍：这里简直是粉丝的天堂" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/109/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        暴雪嘉年华现场实拍：这里简直是粉丝的天堂
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/109/"
                   title="详细阅读  暴雪嘉年华现场实拍：这里简直是粉丝的天堂">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/110/"
                        >微软推送《光环战争2》增强补丁：支持4K与跨平台对战 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/110/"
                            title="微软推送《光环战争2》增强补丁：支持4K与跨平台对战" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/110/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        微软推送《光环战争2》增强补丁：支持4K与跨平台对战
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/110/"
                   title="详细阅读  微软推送《光环战争2》增强补丁：支持4K与跨平台对战">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">06</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/111/"
                        >这个低调的马来西亚华人是半导体行业最凶猛的大鳄 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>Python <a
                            href="/post/111/"
                            title="这个低调的马来西亚华人是半导体行业最凶猛的大鳄" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/111/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        这个低调的马来西亚华人是半导体行业最凶猛的大鳄
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/111/"
                   title="详细阅读  这个低调的马来西亚华人是半导体行业最凶猛的大鳄">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
    <div style="float: right;margin-top: -20px;">
        <nav>
            <ul class="pagination">
                
                
                    <li class="active"><a href="?page=1">1</a></li>
                
                    <li ><a href="?page=2">2</a></li>
                
                    <li ><a href="?page=3">3</a></li>
                
                    <li ><a href="?page=4">4</a></li>
                
                    <li ><a href="?page=5">5</a></li>
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                    
                
                
                    <li class="">
                        <a href="?page=2" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                
            </ul>
        </nav>
    </div>



            </section>
            <aside id="sidebar" class="col-md-3">
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">公告</h2>
                    <hr>

                    <div class="textwidget">
                        

    <p style="font-size: 1pc;line-height: 30px;">
        博客使用阿里云主机，大家可以使用我的幸运券 <a style="font-size: 1.5pc;color: #d9534f;"
                                 href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=yw1joxsh&utm_source=yw1joxsh">点击获取~~~百分百中奖
        ！！！</a>

    </p>

                    </div>
                </div>
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">标签</h2>
                    <hr>
                    

    <div class="tagcloud">
    </div>

                </div>
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">分类目录</h2>
                    <hr>
                    
    <ul id="side_category">
    </ul>

                </div>

                <!-- 分类目录、热门标签、友情链接模块-->
                <div class="panel hidden-xs " style="padding: 10px">


                    <h2 class="widgettitle">友情链接</h2>
                    <hr>


                    
                    
                    
                    
                    
                    
                    
                    <div class="tab-pane active nav bs-sidenav fade in" id="sidebar-categories">
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

                        
                        <div class="tab-pane nav bs-sidenav fade" id="sidebar-links">
                            <li><a href="http://blog.51reboot.com/" target="_blank">51reboot</a></li>

                        </div>
                    </div>
                </div>
            </aside>

        </section>
    </div>
</section>
<!--WP Code Highlight_start-->





<!--WP Code Highlight_end-->
<footer id="main-footor" style="background-color: #3d4450;
  padding: 15px;
  color: white;
  font-size: 1pc;
  border-top: 1px solid #d2d6de;">

    <p style="margin: 10px 0 10px;">Copyright © Medivh 2016 - 2017 All Rights Reserved.京ICP备xxxxxxx号</p>

    <!--统计代码开始-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js?38c49f797f857fe23de49ccf545ad783";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--统计代码结束-->
</footer>

<div style="display: none;" class="fa fa-angle-up" id="gotop"></div>
<script type="text/javascript">
    backTop = function (btnId) {
        var btn = document.getElementById(btnId);
        var d = document.documentElement;
        var b = document.body;
        window.onscroll = set;
        btn.onclick = function () {
            btn.style.display = "none";
            window.onscroll = null;
            this.timer = setInterval(function () {
                d.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                b.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                if ((d.scrollTop + b.scrollTop) == 0) clearInterval(btn.timer, window.onscroll = set);
            }, 10);
        };

        function set() {
            btn.style.display = (d.scrollTop + b.scrollTop > 100) ? 'block' : "none"
        }
    };
    backTop('gotop');
</script>


    <script>
        //计数器
        function Click(obj) {
            $('.btn btn-danger pull-right read-more').click()
            {
               alert('+1');
            }
            ;

        }

        //获取标签
        function Tags(obj) {
            $.get("/side/", {name: 'tag'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var tag = tmp[i].name;
                    html = '<a href="/tags/' + tag + '/" class="tag-link-43" title="6个话题" style="color:#1270d6;font-size: 12.06976744186pt;">' + tag + '</a>'
                    $('.tagcloud').append(html);
                }
            });
        }
        ;

        //获取版块
        function Category(obj) {
            $.get("/side/", {name: 'category'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var category_name = tmp[i].name;
                    var category_alias = tmp[i].alias;
                    html = ' <li><a href="/category/' + category_name + '/">' + category_alias + '</a></li> '
                    $("#nav_head").append(html);
                    side = ' <li class="cat-item cat-item-313"><a href="/category/' + category_name + '/>' + category_alias + '</a> </li>'
                    $("#side_category").append(html);


                }
            });
        }
        ;

        Tags();
        Category();

    </script>

<script type="text/javascript" src="/statics/CACHE/js/fedafcf32a9f.js"></script>

</body>
</html>