{% extends 'blog/admin.html' %}
{% block admin-content-header %}
    <h2>{% if is_new %}New article{% else %}Edit article{% endif %}</h2>
{% endblock %}
{% block admin-content %}
    <div style="margin-bottom: 40px" id="edit">
        {% if is_new %}
            <form enctype="multipart/form-data" method="post">{% csrf_token %}
                <p>Category:
                    <select name='category_id' class="form-control" style="width: 60px">
                        {% for item in category_list %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    Title:
                    <input name="title" type="text" class="form-control" placeholder="文章标题" >
                </p>
                <p>
                    Brief:
                    <input name="brief" type="text" class="form-control" placeholder="文章简介" >
                </p>
                <textarea id='id_content' name="content" class="form-control"></textarea>
                <button type="submit" class="save btn btn-success " style="float: right;margin-bottom: 10px;">Save
                </button>
            </form>
        {% else %}
            <div>
                <form enctype="multipart/form-data" method="post">{% csrf_token %}
                    {{ edit_article.as_p }}
                    <button type="submit" class="save btn btn-success " style="float: right;margin-bottom: 10px;">Save
                    </button>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block admin-js %}
    <script src="/statics/plugin/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            //width: 800,
            height: 300,
            forced_root_block: false,
            plugins: [
                "advlist autolink lists link image charmap print preview anchor sh4tinymce upload",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter" +
            " alignright alignjustify | bullist numlist outdent indent | preview link image sh4tinymce"
        });
    </script>

{% endblock %}

