{% extends './index.html' %}
{% load custom %}
{% block main %}
    {% for i in posts %}
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">4月</span>
                <span class="day">10</span>
            </div>
            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="{% url 'detail' pk=i.id %}">{{ i.title }} </a></h1>
                </div>
                <div class="tag-article container">
                            <span class="label label-zan"><i class="fa fa-tags"></i> <a
                                    href="{% url 'detail' pk=i.id %}"
                                    title="{{ i.title }}" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">medivh</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> 1,167 views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="{% url 'detail' pk=i.id %}"></a>

                    </figure>
                    <div class="alert alert-zan">

                        {{ i.brief }}
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="{% url 'detail' pk=i.id %}"
                   title="详细阅读  {{ i.brief }}">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    {% endfor %}


{% endblock %}
{% block admin-js %}
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        var editHTML;
        var editText;
        function setEditHTML(value) {
            editHTML = '<input type="text" value="' + value + '" />';
            editHTML += '<input type="button" onclick="ok(this)" value="Edit" />';
            editHTML += '<input type="button" onclick="del(this)" value="Del" />';
            editHTML += '<input type="button" onclick="cancel(this)" value="Cancel" />';
        }

        //绑定事件
        $(".editbox").each(function () { //取得所有class为editbox的对像
            $(this).bind("dblclick", function () { //给其绑定双击事件
                editText = $(this).html(); //取得表格单元格的文本
                setEditHTML(editText); //初始化控件
                $(this).data("oldtxt", editText) //将单元格原文本保存在其缓存中，便修改失败或取消时用
                        .html(editHTML) //改变单元格内容为编辑状态
                        .unbind("dblclick"); //删除单元格双击事件，避免多次双击
            });
        });

        //取消
        function cancel(cbtn) {
            var $obj = $(cbtn).parent(); //'取消'按钮的上一级，即单元格td
            $obj.html($obj.data("oldtxt")); //将单元格内容设为原始数据，取消修改
            $obj.bind("dblclick", function () { //重新绑定单元格双击事件
                editText = $(this).html();
                setEditHTML(editText);
                $(this).data("oldtxt", editText)
                        .html(editHTML).unbind("dblclick");
            });
        }
        function Add(ths) {
            $("#btn_addtr").click(function () {
                $('tbody').append('<tr id=""><td></td><td class="editbox"></td><td></td></tr>')
            });

        }
        //删除
        function del(ths) {
            var $obj = $(ths).parent(); //'修改'按钮的上一级，即单元格td
            var cid = $obj.parent().attr("id").replace("tr_", ""); //取得该行数据的ID，此例ID绑定在tr中
            //console.log(cid);
            $('#tb1').html("");
            $.ajax({
                type: 'POST',
                url: "/blog/category/" + cid + "/del/",
                data: {pk: cid},
                success: function (data) {
              //      console.log(data);
                    $("#tb1").html(data);
                }
            });
        }

        //修改
        function ok(obtn) {
            var $obj = $(obtn).parent(); //'修改'按钮的上一级，即单元格td
            var cid = $obj.parent().attr("id").replace("tr_", ""); //取得该行数据的ID，此例ID绑定在tr中
            var value = $obj.find("input:text")[0].value; //取得文本框的值，即新数据
            //AJAX 修改数据
            $.ajax({
                type: "POST",
                url: "/blog/category/",
                data: {name: value, id: cid},//data:版块名称/版块ID
                success: function (msg) {
                    //alert("Data Saved: " + msg);
                }
            });
            console.log(value, cid);
//成功
            if (true) {
                //alert("success");
                $obj.data("oldtxt", value); //设置此单元格缓存为新数据
                cancel(obtn); //调用'取消'方法，
//在此应传'取消'按钮过去，
//但在'取消'事件中没有用'取消'按钮这个对 象,
//用的只是它的上一级，即td，
//固在此直接用'修改'按钮替代
            }
//失败
            else {
                alert("error");
                cancel(obtn);
            }

        }

    </script>
{% endblock %}