{% extends 'basic.html' %}
{% block blog-title %}
    Medivh' blog ...
{% endblock %}
{% block blog-textwidget %}
    <br>

    <br>
    博客使用阿里云主机服务，大家可以使用我的优惠推荐码购买主机... 九折优惠哦 &nbsp;&nbsp; pmcp6m
    <br>

    <br>
{% endblock %}
{% block navbar-nav %}
    hhhh
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/">Python</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/#"> DB <b
                class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/">ElasticSearch</a></li>
                <li><a href="http://xiaorui.cc/category/db/">Other</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://xiaorui.cc/#">Devops<b
                class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/">运维开发</a></li>
            </ul>
        </li>
        <li><a href="/">About me</a></li>
    </ul>
{% endblock %}

