{% extends 'basic.html' %}
{% block blog-title %}
    Medivh' blog ...
{% endblock %}
{% block blog-textwidget %}
    <p style="font-size: 1pc;line-height: 30px;">
        博客使用阿里云主机，大家可以使用我的幸运券 <a style="font-size: 1.5pc;color: #d9534f;"
                                 href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=yw1joxsh&utm_source=yw1joxsh">点击获取~~~百分百中奖
        ！！！</a>

    </p>
{% endblock %}
{% block tags %}

    <div class="tagcloud">
    </div>
{% endblock %}
{% block category %}
    <ul id="side_category">
    </ul>
{% endblock %}
{% block hot %}
    <li class="list-group-item"><a
            href="http://xiaorui.cc/2017/06/20/python-cffi%e8%b0%83%e7%94%a8gcc%e5%ae%9e%e7%8e%b0%e5%8e%9f%e5%ad%90%e8%ae%a1%e6%95%b0%e5%8f%8acas/"
            rel="bookmark" title="python cffi调用sync实现原子计数及cas">python cffi调用sync实现原子计数及cas</a><span
            class="badge">0</span></li>

{% endblock %}
{% block navbar-nav %}
    <ul class="nav navbar-nav" id="nav_head">
        <li><a href="/">首页</a></li>
    </ul>
{% endblock %}
{% block main %}
    {% for i in posts %}
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">{{ i.published_date |date:"m" }}月</span>
                <span class="day">{{ i.published_date |date:"d" }}</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="{% url 'detail' pk=i.id %}">{{ i.title }} </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>{{ i.tags }} <a
                            href="{% url 'detail' pk=i.id %}"
                            title="{{ i.title }}" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">{{ i.author }}</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> 1,167 views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="{% url 'detail' pk=i.id %}"></a>

                    </figure>
                    <div class="alert alert-zan">
                        {{ i.brief }}
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="{% url 'detail' pk=i.id %}"
                   title="详细阅读  {{ i.brief }}">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    {% endfor %}


{% endblock %}
{% block js %}

    <script>
        //获取标签
        function Tags(obj) {
            $.get("/blog/side/", {name: 'tag'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var tag = tmp[i].name;
                    html = '<a href="/blog/tags/' + tag + '/" class="tag-link-43" title="6个话题" style="color:#1270d6;font-size: 12.06976744186pt;">' + tag + '</a>'
                    $('.tagcloud').append(html);
                }
            });
        }
        ;
        //获取版块
        function Category(obj) {
            $.get("/blog/side/", {name: 'category'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var category_name = tmp[i].name;
                    var category_alias = tmp[i].alias;
                    html = ' <li><a href="/blog/category/' + category_name + '">' + category_alias + '</a></li> '
                    $("#nav_head").append(html);
                    side = ' <li class="cat-item cat-item-313"><a href="/blog/category/' + category_name + '>' + category_alias + '</a> </li>'
                    $("#side_category").append(html);


                }
            });


        }
        ;
        Tags();
        Category();

    </script>
{% endblock %}