{% extends './index.html' %}
{% load custom %}

{% block about %}
    {% for i in about_obj %}
        {{ i.content|safe }}
    {% endfor %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class=" article container well" style="padding: 25px; margin-top: 3px; font-size: 1pc; line-height: 30px;">
            {% if is_post %}
                <div class="title-article">
                    <h1>{{ post.title }}</h1>
                    <hr/>
                </div>
                <div class="date" style="margin-top: 20px;height: 30px">
                    posted @
                    {% if post.published_date %}
                        {{ post.published_date |date:"Y-m-d H:i:s" }} &nbsp;
                        {{ post.author }}
                    {% else %}
                        {% if user.is_authenticated %}
                            <a class="btn btn-default"
                               href="{% url 'Earth.views.post_publish' pk=post.pk %}">Publish</a>
                        {% endif %}

                    {% endif %}
                    {% if user.is_authenticated %}
                        <div style="float: right">
                            <a class="btn btn-default" href="{% url 'edit' pk=post.pk %}"><span
                                    class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                    {% endif %}

                </div>
                <div style="margin: 30px 0 60px 0 ;" class="centent-article">
                    <p>{{ post.brief }}</p>
                    <p>{{ post.content |safe }}</p>
                </div>
            {% else %}
                <div style="margin-top: 30px">
                    {% for i in contact %}
                        {{ i.content|safe }}
                    {% endfor %}
                </div>

            {% endif %}
        </div>
    </div>


{% endblock %}
{% block js %}
    <script src="http://7xp77w.com1.z0.glb.clouddn.com/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

{% endblock %}