{% extends 'base.html' %}
{% load custom %}
{% block content %}
    {% if list_header %}
        <div>
            <p class="blog-title">{{ list_header }}</p>
            {% for i in  posts_ar %}
                <ol class="list-unstyled">
                    <li>
{#                        <div class="blog-title" style="font-size: 15px;color: #42b983">{{ i.published_date |date:"Y-m-d" }} &nbsp{{ i }}   </div>#}
                        <div class="blog-title" style="font-size: 15px;margin-left: 5%">{{ i.published_date |date:"Y-m-d" }} &nbsp{{ i }}   </div>

                    </li>
                </ol>
            {% endfor %}
        </div>

    {% endif %}

    {% for post in posts %}
        <div class="blog-post">
            <div>
                <a class="blog-title"
                   href="{% url 'Earth.views.post_detail' pk=post.pk %}">{{ post.title }}</a>
                <hr style="height: 1px;"/>
                <div class="blog-list-author">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <a style="color: #ff8f21;font-size: 15px">{{ post.published_date|date:"M  j, Y"  }}</a>
                </div>
                <div>
                    <p>
                        {{ post.brief|truncatechars:100|safe }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div style="height: 100px;padding-top: 30px">
        <hr/>
        <div>

            <nav>
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="">
                            <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page_num in posts.paginator.page_range %}
                        {% guess_page posts.number page_num %}
                    {% endfor %}
                    {% if shcool_list.has_next %}
                        <li class="">
                            <a href="?page={{ posts.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
{% block js %}

{% endblock %}