{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-11">
            <div class="blog-detail-title">
                {{ post.title }}
                <hr/>
            </div>
            <div class="date" style="margin-top: 20px;height: 30px">
                posted @
                {% if post.published_date %}
                    {{ post.published_date |date:"Y-m-d H:i:s" }} &nbsp;
                    {{ post.author }}
                {% else %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-default"
                           href="{% url 'Earth.views.post_publish' pk=post.pk %}">Publish</a>
                    {% endif %}

                {% endif %}
                {% if user.is_authenticated %}
                    <div style="float: right">
                    <a class="btn btn-default" href="{% url 'edit' pk=post.pk %}"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'remove' pk=post.pk %}"><span
                            class="glyphicon glyphicon-trash"></span></a>
                    </div>
                {% endif %}

            </div>


            <div style="margin: 30px 0 60px 0 ;">
                <p>{{ post.brief }}</p>
                <p>{{ post.content |safe }}</p>
            </div>
        </div>
    </div>


{% endblock %}