<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="description" content="奔跑的程序Go">
    <title>归档 | 野猪林</title>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css?v=0.0.0">
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml">
</head>
<body>
<div class="body_container">
    <div id="header">
        <div class="site-name"><h1 class="hidden">野猪林</h1><a id="logo" href="/.">野猪林</a>
            <p class="description">爱自由，追求简单之美 →_→</p></div>
        <div id="nav-menu"><a href="/."><i class="fa myfa fa-home"></i>首页</a><a href="/archives/" class="current"><i
                class="fa myfa fa-archive"></i>归档</a><a href="/about/"><i class="fa myfa fa-user"></i>关于</a><a
                href="/guestbook/"><i class="fa myfa fa-comments"></i>留言</a><a href="/atom.xml"><i
                class="fa myfa fa-rss"></i>订阅</a></div>
    </div>
    <div id="layout" class="pure-g">
        <div class="pure-u-1 pure-u-md-3-4">
            <div class="content_container">
                <div class="post">
                    <div class="post-archive"><!--Use lodash to classify posts. See https://lodash.com/docs#groupBy-->
                        <h2>2020</h2>
                        <ul class="listing">
                            <li><span class="date">2020/03/07</span><a href="/2020/03/07/joke.html" title="开心一刻"
                                                                       class="post-title-link">开心一刻</a></li>
                        </ul>
                        <h2>2016</h2>
                        <ul class="listing">
                            <li><span class="date">2016/05/26</span><a href="/2016/05/26/python/pycharm-remote.html"
                                                                       title="使用PyCharm进行远程开发和调试"
                                                                       class="post-title-link">使用PyCharm进行远程开发和调试</a>
                            </li>
                            <li><span class="date">2016/04/30</span><a href="/2016/04/30/python/django-deploy.html"
                                                                       title="CentOS7上使用mod_wsgi部署Django"
                                                                       class="post-title-link">CentOS7上使用mod_wsgi部署Django</a>
                            </li>
                            <li><span class="date">2016/04/22</span><a href="/2016/04/22/python/wsgi.html"
                                                                       title="WGSI简易教程"
                                                                       class="post-title-link">WGSI简易教程</a></li>
                            <li><span class="date">2016/04/16</span><a href="/2016/04/16/osgi.html" title="OSGi简易教程"
                                                                       class="post-title-link">OSGi简易教程</a></li>
                            <li><span class="date">2016/04/15</span><a href="/2016/04/15/scrapy-12.html"
                                                                       title="Scrapy笔记（12）- 抓取动态网站"
                                                                       class="post-title-link">Scrapy笔记（12）- 抓取动态网站</a>
                            </li>
                            <li><span class="date">2016/04/12</span><a href="/2016/04/12/scrapy-11.html"
                                                                       title="Scrapy笔记（11）- 模拟登录"
                                                                       class="post-title-link">Scrapy笔记（11）- 模拟登录</a>
                            </li>
                            <li><span class="date">2016/04/10</span><a href="/2016/04/10/scrapy-10.html"
                                                                       title="Scrapy笔记（10）- 动态配置爬虫"
                                                                       class="post-title-link">Scrapy笔记（10）- 动态配置爬虫</a>
                            </li>
                            <li><span class="date">2016/03/21</span><a href="/2016/03/21/scrapy-09.html"
                                                                       title="Scrapy笔记（9）- 部署" class="post-title-link">Scrapy笔记（9）-
                                部署</a></li>
                            <li><span class="date">2016/03/20</span><a href="/2016/03/20/scrapy-08.html"
                                                                       title="Scrapy笔记（8）- 文件与图片"
                                                                       class="post-title-link">Scrapy笔记（8）- 文件与图片</a>
                            </li>
                            <li><span class="date">2016/03/19</span><a href="/2016/03/19/scrapy-07.html"
                                                                       title="Scrapy笔记（7）- 内置服务"
                                                                       class="post-title-link">Scrapy笔记（7）- 内置服务</a>
                            </li>
                            <li><span class="date">2016/03/18</span><a href="/2016/03/18/scrapy-06.html"
                                                                       title="Scrapy笔记（6）- Item Pipeline"
                                                                       class="post-title-link">Scrapy笔记（6）- Item
                                Pipeline</a></li>
                            <li><span class="date">2016/03/16</span><a href="/2016/03/16/scrapy-05.html"
                                                                       title="Scrapy笔记（5）- Item详解"
                                                                       class="post-title-link">Scrapy笔记（5）- Item详解</a>
                            </li>
                            <li><span class="date">2016/03/14</span><a href="/2016/03/14/scrapy-04.html"
                                                                       title="Scrapy笔记（4）- Selector详解"
                                                                       class="post-title-link">Scrapy笔记（4）-
                                Selector详解</a></li>
                            <li><span class="date">2016/03/12</span><a href="/2016/03/12/scrapy-03.html"
                                                                       title="Scrapy笔记（3）- Spider详解"
                                                                       class="post-title-link">Scrapy笔记（3）- Spider详解</a>
                            </li>
                            <li><span class="date">2016/03/10</span><a href="/2016/03/10/scrapy-02.html"
                                                                       title="Scrapy笔记（2）- 完整示例"
                                                                       class="post-title-link">Scrapy笔记（2）- 完整示例</a>
                            </li>
                            <li><span class="date">2016/03/08</span><a href="/2016/03/08/scrapy-01.html"
                                                                       title="Scrapy笔记（1）- 入门篇" class="post-title-link">Scrapy笔记（1）-
                                入门篇</a></li>
                            <li><span class="date">2016/03/07</span><a href="/2016/03/07/sqlalchemy.html"
                                                                       title="SQLAlchemy入门" class="post-title-link">SQLAlchemy入门</a>
                            </li>
                            <li><span class="date">2016/03/06</span><a href="/2016/03/06/hexo.html"
                                                                       title="使用hexo搭建github博客" class="post-title-link">使用hexo搭建github博客</a>
                            </li>
                            <li><span class="date">2016/01/03</span><a href="/2016/01/03/danxiashan.html" title="丹霞山游记"
                                                                       class="post-title-link">丹霞山游记</a></li>
                        </ul>
                        <h2>2015</h2>
                        <ul class="listing">
                            <li><span class="date">2015/12/02</span><a href="/2015/12/02/python/generator.html"
                                                                       title="python核心 - 生成器和yield"
                                                                       class="post-title-link">python核心 - 生成器和yield</a>
                            </li>
                            <li><span class="date">2015/12/01</span><a href="/2015/12/01/python/iterable.html"
                                                                       title="python核心 - 迭代器" class="post-title-link">python核心
                                - 迭代器</a></li>
                            <li><span class="date">2015/10/20</span><a href="/2015/10/20/nginx.html" title="Nginx的安装和配置"
                                                                       class="post-title-link">Nginx的安装和配置</a></li>
                            <li><span class="date">2015/10/13</span><a href="/2015/10/13/httpd-tomcat.html"
                                                                       title="利用httpd对Tomcat进行负载均衡"
                                                                       class="post-title-link">利用httpd对Tomcat进行负载均衡</a>
                            </li>
                            <li><span class="date">2015/10/10</span><a href="/2015/10/10/centos-python.html"
                                                                       title="centos6.x安装python2.7"
                                                                       class="post-title-link">centos6.x安装python2.7</a>
                            </li>
                            <li><span class="date">2015/07/12</span><a href="/2015/07/12/java/redis03.html"
                                                                       title="redis笔记03 - 进阶篇" class="post-title-link">redis笔记03
                                - 进阶篇</a></li>
                            <li><span class="date">2015/07/06</span><a href="/2015/07/06/java/redis02.html"
                                                                       title="redis笔记02 - 基本操作" class="post-title-link">redis笔记02
                                - 基本操作</a></li>
                            <li><span class="date">2015/07/01</span><a href="/2015/07/01/java/redis01.html"
                                                                       title="redis笔记01 - 入门与安装"
                                                                       class="post-title-link">redis笔记01 - 入门与安装</a>
                            </li>
                            <li><span class="date">2015/06/20</span><a href="/2015/06/20/java/nio.html"
                                                                       title="NIO笔记-缓存器细节" class="post-title-link">NIO笔记-缓存器细节</a>
                            </li>
                            <li><span class="date">2015/06/18</span><a href="/2015/06/18/java/callback.html"
                                                                       title="java中的回调函数" class="post-title-link">java中的回调函数</a>
                            </li>
                            <li><span class="date">2015/06/01</span><a href="/2015/06/01/algorithm/pirate.html"
                                                                       title="海盗分金" class="post-title-link">海盗分金</a>
                            </li>
                            <li><span class="date">2015/05/27</span><a href="/2015/05/27/hadoop-hbase.html"
                                                                       title="centos6上安装Hadoop和HBase"
                                                                       class="post-title-link">centos6上安装Hadoop和HBase</a>
                            </li>
                            <li><span class="date">2015/05/22</span><a href="/2015/05/22/yaml-introduce.html"
                                                                       title="yaml入门笔记"
                                                                       class="post-title-link">yaml入门笔记</a></li>
                            <li><span class="date">2015/05/19</span><a href="/2015/05/19/xpath-introduce.html"
                                                                       title="xpath入门笔记" class="post-title-link">xpath入门笔记</a>
                            </li>
                            <li><span class="date">2015/05/17</span><a href="/2015/05/17/mosquitto-install.html"
                                                                       title="mqtt消息中间件mosquitto的安装和配置"
                                                                       class="post-title-link">mqtt消息中间件mosquitto的安装和配置</a>
                            </li>
                            <li><span class="date">2015/05/08</span><a href="/2015/05/08/java8-lambda.html"
                                                                       title="Java8中的lambda表达式" class="post-title-link">Java8中的lambda表达式</a>
                            </li>
                            <li><span class="date">2015/05/05</span><a href="/2015/05/05/java-memory.html"
                                                                       title="Java内存区域与内存溢出异常" class="post-title-link">Java内存区域与内存溢出异常</a>
                            </li>
                            <li><span class="date">2015/05/01</span><a href="/2015/05/01/python-decorator.html"
                                                                       title="python函数装饰器详解" class="post-title-link">python函数装饰器详解</a>
                            </li>
                            <li><span class="date">2015/04/26</span><a href="/2015/04/26/rabbitmq-server.html"
                                                                       title="CentOS6.4安装rabbitmq-server"
                                                                       class="post-title-link">CentOS6.4安装rabbitmq-server</a>
                            </li>
                            <li><span class="date">2015/04/25</span><a href="/2015/04/25/rabbitmq-python-client.html"
                                                                       title="使用python开发RabbitMQ应用"
                                                                       class="post-title-link">使用python开发RabbitMQ应用</a>
                            </li>
                            <li><span class="date">2015/04/24</span><a href="/2015/04/24/merge-sort.html"
                                                                       title="归并排序中对小数组采用插入排序" class="post-title-link">归并排序中对小数组采用插入排序</a>
                            </li>
                            <li><span class="date">2015/04/23</span><a href="/2015/04/23/lvs-keepalived.html"
                                                                       title="CentOS6.5上LVS和KeepAlived搭建高可用负载均衡集群"
                                                                       class="post-title-link">CentOS6.5上LVS和KeepAlived搭建高可用负载均衡集群</a>
                            </li>
                            <li><span class="date">2015/04/23</span><a href="/2015/04/23/pyinstaller.html"
                                                                       title="使用PyInstaller打包Python程序"
                                                                       class="post-title-link">使用PyInstaller打包Python程序</a>
                            </li>
                            <li><span class="date">2015/04/22</span><a href="/2015/04/22/fastjson-date.html"
                                                                       title="fastjson对Date的处理" class="post-title-link">fastjson对Date的处理</a>
                            </li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-14.html"
                                                                       title="Django1.9开发博客（14）- 集成Xadmin"
                                                                       class="post-title-link">Django1.9开发博客（14）-
                                集成Xadmin</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-13.html"
                                                                       title="Django1.9开发博客（13）- redis缓存"
                                                                       class="post-title-link">Django1.9开发博客（13）-
                                redis缓存</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-12.html"
                                                                       title="Django1.9开发博客（12）- i18n国际化"
                                                                       class="post-title-link">Django1.9开发博客（12）-
                                i18n国际化</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-11.html"
                                                                       title="Django1.9开发博客（11）- 富文本与代码高亮"
                                                                       class="post-title-link">Django1.9开发博客（11）-
                                富文本与代码高亮</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-10.html"
                                                                       title="Django1.9开发博客（10）- 全文搜索"
                                                                       class="post-title-link">Django1.9开发博客（10）-
                                全文搜索</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-09.html"
                                                                       title="Django1.9开发博客（9）- 用户认证"
                                                                       class="post-title-link">Django1.9开发博客（9）-
                                用户认证</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-08.html"
                                                                       title="Django1.9开发博客（8）- 继续完善"
                                                                       class="post-title-link">Django1.9开发博客（8）-
                                继续完善</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-07.html"
                                                                       title="Django1.9开发博客（7）- 实现功能"
                                                                       class="post-title-link">Django1.9开发博客（7）-
                                实现功能</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-06.html"
                                                                       title="Django1.9开发博客（6）- 模板继承"
                                                                       class="post-title-link">Django1.9开发博客（6）-
                                模板继承</a></li>
                            <li><span class="date">2015/04/21</span><a href="/2015/04/21/simpleblog-05.html"
                                                                       title="Django1.9开发博客（5）- 页面美化"
                                                                       class="post-title-link">Django1.9开发博客（5）-
                                页面美化</a></li>
                            <li><span class="date">2015/04/20</span><a href="/2015/04/20/simpleblog-04.html"
                                                                       title="Django1.9开发博客（4）- 三部曲"
                                                                       class="post-title-link">Django1.9开发博客（4）- 三部曲</a>
                            </li>
                            <li><span class="date">2015/04/20</span><a href="/2015/04/20/simpleblog-03.html"
                                                                       title="Django1.9开发博客（3）- 部署"
                                                                       class="post-title-link">Django1.9开发博客（3）- 部署</a>
                            </li>
                            <li><span class="date">2015/04/20</span><a href="/2015/04/20/simpleblog-02.html"
                                                                       title="Django1.9开发博客（2）- 模型"
                                                                       class="post-title-link">Django1.9开发博客（2）- 模型</a>
                            </li>
                            <li><span class="date">2015/04/20</span><a href="/2015/04/20/simpleblog-01.html"
                                                                       title="Django1.9开发博客（1）- 入门篇"
                                                                       class="post-title-link">Django1.9开发博客（1）- 入门篇</a>
                            </li>
                            <li><span class="date">2015/04/19</span><a href="/2015/04/19/xmemecached.html"
                                                                       title="使用xmemcached客户端" class="post-title-link">使用xmemcached客户端</a>
                            </li>
                            <li><span class="date">2015/04/18</span><a href="/2015/04/18/sort-search.html"
                                                                       title="快速排序和二分查找" class="post-title-link">快速排序和二分查找</a>
                            </li>
                            <li><span class="date">2015/04/17</span><a href="/2015/04/17/redis-install.html"
                                                                       title="redis入门与安装" class="post-title-link">redis入门与安装</a>
                            </li>
                            <li><span class="date">2015/04/16</span><a href="/2015/04/16/memcached-install.html"
                                                                       title="linux上安装memcached"
                                                                       class="post-title-link">linux上安装memcached</a>
                            </li>
                            <li><span class="date">2015/04/15</span><a href="/2015/04/15/eight-queens.html"
                                                                       title="回溯法解决八皇后问题" class="post-title-link">回溯法解决八皇后问题</a>
                            </li>
                            <li><span class="date">2015/04/14</span><a href="/2015/04/14/concurrent-recursive.html"
                                                                       title="利用递归算法并行化解决谜题框架" class="post-title-link">利用递归算法并行化解决谜题框架</a>
                            </li>
                            <li><span class="date">2015/04/13</span><a href="/2015/04/13/centos-yum.html"
                                                                       title="centos6更新yum源" class="post-title-link">centos6更新yum源</a>
                            </li>
                            <li><span class="date">2015/04/06</span><a href="/2015/04/06/servlet-filter.html"
                                                                       title="servlet filter详解" class="post-title-link">servlet
                                filter详解</a></li>
                            <li><span class="date">2015/03/28</span><a href="/2015/03/28/sitemesh.html"
                                                                       title="SiteMesh使用笔记" class="post-title-link">SiteMesh使用笔记</a>
                            </li>
                            <li><span class="date">2015/03/18</span><a href="/2015/03/18/octopress-blog.html"
                                                                       title="使用Octopress搭建GitHub博客"
                                                                       class="post-title-link">使用Octopress搭建GitHub博客</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1-4">
            <div id="sidebar">
                <div class="widget">
                    <form action="//www.google.com/search" method="get" accept-charset="utf-8" target="_blank"
                          class="search-form"><input type="text" name="q" maxlength="20" placeholder="Search"/><input
                            type="hidden" name="sitesearch" value="http://yidao620c.github.io"/></form>
                </div>
                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-folder-o"></i>分类</div>
                    <ul class="category-list">
                        <li class="category-list-item"><a class="category-list-link" href="/categories/java/">java</a>
                        </li>
                        <li class="category-list-item"><a class="category-list-link" href="/categories/linux/">linux</a>
                        </li>
                        <li class="category-list-item"><a class="category-list-link"
                                                          href="/categories/python/">python</a></li>
                        <li class="category-list-item"><a class="category-list-link" href="/categories/技术随笔/">技术随笔</a>
                        </li>
                        <li class="category-list-item"><a class="category-list-link" href="/categories/朝花夕拾/">朝花夕拾</a>
                        </li>
                        <li class="category-list-item"><a class="category-list-link" href="/categories/算法之美/">算法之美</a>
                        </li>
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-star-o"></i>标签</div>
                    <div class="tagcloud"><a href="/tags/osgi/" style="font-size: 15px;">osgi</a> <a href="/tags/linux/"
                                                                                                     style="font-size: 15px;">linux</a>
                        <a href="/tags/丹霞山/" style="font-size: 15px;">丹霞山</a> <a href="/tags/java/"
                                                                                 style="font-size: 15px;">java</a> <a
                                href="/tags/python/" style="font-size: 15px;">python</a> <a href="/tags/hadoop/"
                                                                                            style="font-size: 15px;">hadoop</a>
                        <a href="/tags/hexo/" style="font-size: 15px;">hexo</a> <a href="/tags/负载均衡/"
                                                                                   style="font-size: 15px;">负载均衡</a> <a
                                href="/tags/笑话/" style="font-size: 15px;">笑话</a> <a href="/tags/memcached/"
                                                                                    style="font-size: 15px;">memcached</a>
                        <a href="/tags/mqtt/" style="font-size: 15px;">mqtt</a> <a href="/tags/nginx/"
                                                                                   style="font-size: 15px;">nginx</a> <a
                                href="/tags/算法/" style="font-size: 15px;">算法</a> <a href="/tags/octopress/"
                                                                                    style="font-size: 15px;">octopress</a>
                        <a href="/tags/rabbitmq/" style="font-size: 15px;">rabbitmq</a> <a href="/tags/scrapy/"
                                                                                           style="font-size: 15px;">scrapy</a>
                        <a href="/tags/redis/" style="font-size: 15px;">redis</a> <a href="/tags/servlet/"
                                                                                     style="font-size: 15px;">servlet</a>
                        <a href="/tags/django/" style="font-size: 15px;">django</a> <a href="/tags/SQLAlchemy/"
                                                                                       style="font-size: 15px;">SQLAlchemy</a>
                        <a href="/tags/sitemesh/" style="font-size: 15px;">sitemesh</a> <a href="/tags/xpath/"
                                                                                           style="font-size: 15px;">xpath</a>
                        <a href="/tags/yaml/" style="font-size: 15px;">yaml</a> <a href="/tags/wsgi/"
                                                                                   style="font-size: 15px;">wsgi</a>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-file-o"></i>最新文章</div>
                    <ul class="post-list">
                        <li class="post-list-item"><a class="post-list-link" href="/2020/03/07/joke.html">开心一刻</a></li>
                        <li class="post-list-item"><a class="post-list-link"
                                                      href="/2016/05/26/python/pycharm-remote.html">使用PyCharm进行远程开发和调试</a>
                        </li>
                        <li class="post-list-item"><a class="post-list-link"
                                                      href="/2016/04/30/python/django-deploy.html">CentOS7上使用mod_wsgi部署Django</a>
                        </li>
                        <li class="post-list-item"><a class="post-list-link" href="/2016/04/22/python/wsgi.html">WGSI简易教程</a>
                        </li>
                        <li class="post-list-item"><a class="post-list-link" href="/2016/04/16/osgi.html">OSGi简易教程</a>
                        </li>
                        <li class="post-list-item"><a class="post-list-link" href="/2016/04/15/scrapy-12.html">Scrapy笔记（12）-
                            抓取动态网站</a></li>
                        <li class="post-list-item"><a class="post-list-link" href="/2016/04/12/scrapy-11.html">Scrapy笔记（11）-
                            模拟登录</a></li>
                        <li class="post-list-item"><a class="post-list-link" href="/2016/04/10/scrapy-10.html">Scrapy笔记（10）-
                            动态配置爬虫</a></li>
                        <li class="post-list-item"><a class="post-list-link" href="/2016/03/21/scrapy-09.html">Scrapy笔记（9）-
                            部署</a></li>
                        <li class="post-list-item"><a class="post-list-link" href="/2016/03/20/scrapy-08.html">Scrapy笔记（8）-
                            文件与图片</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <div class="comments-title"><i class="fa myfa fa-comment-o"></i>最近评论</div>
                    <div data-num-items="5" data-show-avatars="0" data-show-time="1" data-show-admin="0"
                         data-excerpt-length="32" data-show-title="1" class="ds-recent-comments"></div>
                </div>
                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-external-link"></i>友情链接</div>
                    <ul></ul>
                    <a href="http://www.huxiu.com/index.php" title="虎嗅网" target="_blank">虎嗅网</a>
                    <ul></ul>
                    <a href="http://www.infoq.com/cn/" title="InfoQ" target="_blank">InfoQ</a>
                    <ul></ul>
                    <a href="http://blog.jobbole.com/" title="伯乐在线" target="_blank">伯乐在线</a>
                    <ul></ul>
                    <a href="http://www.matrix67.com/blog/" title="Matrix67" target="_blank">Matrix67</a>
                    <ul></ul>
                    <a href="http://coderknock.com/" title="拿客" target="_blank">拿客</a></div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-3-4">
            <div id="footer">© <span>2015</span><span class="with-love"><i class="fa fa-heart"></i></span>熊能<br/>
                由<a rel="nofollow" target="_blank" href="http://hexo.io/" class="footera">Hexo</a>强力驱动 | 主题<a
                        rel="nofollow" target="_blank" href="https://github.com/tufu9441/maupassant-hexo"
                        class="footera">maupassant-hexo</a></div>
        </div>
    </div>
    <a id="rocket" href="#top" class="show"></a>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/totop.js?v=0.0.0" async></script>
    <script type="text/javascript" src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js" async></script>
    <script type="text/javascript" src="/js/fancybox.js?v=0.0.0" async></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css?v=0.0.0">
    <script>var duoshuoQuery = {short_name: 'yidao620c'};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
    <script type="text/javascript" src="/js/codeblock-resizer.js?v=0.0.0"></script>
    <script type="text/javascript" src="/js/smartresize.js?v=0.0.0"></script>
</div>
</body>
</html>