{% extends 'index.html' %}
{% load custom %}

{% block about %}
    {% for i in about_obj %}
        {{ i.content|safe }}
    {% endfor %}
{% endblock %}
{% block css %}


{% endblock %}

{% block main %}
    <div class="row">
        <div class=" article container well" style="padding: 25px; margin-top: 3px; font-size: 1pc; line-height: 30px;">
            {% if is_post %}
                <div class="title-article">
                    <h1>{{ post.title }}</h1>
                </div>

                <div class="tag-article container">

                  <span class="label label-zan"><i class="fa fa-tags"></i>{{ post.tags }} <a
                          title="{{ post.title }}" rel="category tag"></a></span>
                    <span class="label label-zan"><i
                            class="fa fa-calendar"></i> {{ post.published_date|date:"Y-m-d H:i" }}</span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> {{ post.views }} views</span>
                </div>
                <hr/>
                <div id="wordsView">
                    <textarea style="display:none;" name="editormd-markdown-doc">{{ md }}</textarea>
                </div>
                <div style="margin: 30px 0 60px 0 ; " class="centent-article">
                    <blockquote style="padding: 10px">
                        <p>转载: {{ post.reprinted }} </p>
                        <p>简介: {{ post.brief }}</p></blockquote>
                    {% if post.md %}
                        <div id="content"
                             class="mdl-cell mdl-card mdl-cell--12-col mdl-shadow--2dp content ">
                            <textarea style="display:none;" name="editormd-markdown-doc">{{ md }}</textarea>
                        </div>
                    {% else %}
                        <p>{{ post.content|safe }} </p>
                    {% endif %}
                    <hr>
                </div>


            {% endif %}

            <div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center;">
                <div>坚持技术分享，您的支持将鼓励我继续创作！</div>
                <button id="rewardButton" disable="enable"
                        onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
                    <span>赏</span>
                </button>
                <div id="QR" style="display: none;">

                    <div id="wechat" style="display: inline-block;width: 250px;">
                        <img id="wechat_qr" src="http://7xp3xc.com1.z0.glb.clouddn.com/2016/1493362326446.png"
                             alt="Medivh WeChat Pay"/>
                        <p>微信打赏</p>
                    </div>


                    <div id="alipay" style="display: inline-block;width: 250px;">
                        <img id="alipay_qr" src="http://7xp3xc.com1.z0.glb.clouddn.com/2016/1493362280843.png"
                             alt="Medivh Alipay"/>
                        <p>支付宝打赏</p>
                    </div>

                </div>
            </div>
            <div style="display: inline" id="left"></div>
            <div style="float: right;display: inline" id="right"></div>
        </div>
    </div>


{% endblock %}
{% block js %}
    <link rel="stylesheet" id="crayon-css" href="/statics/editor/css/editormd.css" type="text/css" media="all">
    <script type="text/javascript" src="/statics/editor/editormd.js"></script>
    <script type="text/javascript" src="/statics/editor/lib/marked.min.js"></script>
    <script type="text/javascript" src="/statics/editor/lib/flowchart.min.js"></script>
    <script type="text/javascript" src="/statics/editor/lib/prettify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            editormd.markdownToHTML("content")
        });
    </script>


    <script>
        //获取相邻页
        function Next(obj) {
            var url = window.location.href;
            var id = url.split('/')['4']
            console.log(id)
            $.get("/side/", {name: 'title', id: id}, function (data) {
                var tmp = JSON.parse(data);
                console.log(tmp)
                {#                for (let i = 0; i < tmp.length; i++) {#}
                console.log(tmp[0]['id'])
                var title0 = tmp[0]['title'].substr(0, 22)
                var title1 = tmp[1]['title'].substr(0, 22)
                html1 = "<a href='" + url.split('post')['0'] + "post/" + tmp[0]['id'] + "/'>" + "上一篇 " + title0 + "</a>"
                html2 = "<a href='" + url.split('post')['0'] + "post/" + tmp[1]['id'] + "/'>" + "下一篇 " + title1 + "</a>"
                $('#left').append(html1)
                $('#right').append(html2)

                {#                }#}
                ;


            });

        }

        Next();

        //获取标签
        function Tags(obj) {
            $.get("/side/", {name: 'tag'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var tag = tmp[i].name;
                    html = '<a href="/tags/' + tag + '/" class="tag-link-43" title="6个话题" style="color:#1270d6;font-size: 12.06976744186pt;">' + tag + '</a>'
                    $('.tagcloud').append(html);
                }
            });
        }
        ;

        //获取版块
        function Category(obj) {
            $.get("/side/", {name: 'category'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var category_name = tmp[i].name;
                    var category_alias = tmp[i].alias;
                    html = ' <li><a href="/category/' + category_name + '/">' + category_alias + '</a></li> '
                    $("#nav_head").append(html);
                    side = ' <li class="cat-item cat-item-313"><a href="/category/' + category_name + '/>' + category_alias + '</a> </li>'
                    $("#side_category").append(html);


                }
            });


        }
        ;
        Tags();
        Category();

    </script>

{% endblock %}

