{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-CN"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- 设置标题 -->
    <title>
        {% block blog-title %}

        {% endblock %}
    </title>
    <link rel="icon" href='{% static "imgs/favicon.ico" %}' type="image/x-icon"/>

    <!-- 设置描述性标签和关键词标签 -->

    <meta content="python,运维自动化,运维平台化,saltstack,ansible,docker" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- icon -->
    {% compress css %}
        {#        <link rel="stylesheet" href='{% static "bootstrap/dist/css/font-awesome.min.css" %}'/>#}
        <link rel="stylesheet" href='{% static "custom/custom.css" %}'>

        <link rel="stylesheet" href='{% static "custom/crayon.min.css" %}'>
        <link rel="stylesheet" href='{% static "custom/solarized-light.css" %}'>
        <link rel="stylesheet" id="crayon-font-monaco-css" href='{% static "custom/monaco.css" %}'>

        <link rel="stylesheet" href='{% static "custom/style.css" %}'>
        <link rel="stylesheet" id="bootstrap-style-css" href='{% static "custom/bootstrap.css" %}'>
        {#    <link rel="stylesheet" id="bootstrap-style-css" href='{% static "custom/main.css" %}'>#}

        <link rel="stylesheet" href='{% static "custom/red.css" %}'>
        <link rel="stylesheet" href='{% static "custom/custom.css" %}'>
        <link rel="stylesheet" href='{% static "custom/wp-code-highlight.css" %}'>
        <link rel="stylesheet" id="custom-style-css" href='{% static "editor/css/editormd.min.css" %}'>


    {% endcompress %}

    {#    <script type="text/javascript" src='https://code.jquery.com/jquery-3.2.1.min.js'></script>#}


    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255, 255, 255, .38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>

</head>
<body class="home blog">
<header id="zan-header" class="navbar navbar-inverse bs-docs-nav">
    <nav class="container">
        <div class="navbar-collapse bs-navbar-collapse collapse">
            {% block navbar-nav %}
            {% endblock %}

            <div class="search visible-lg">
                <form method="get" id="searchform" class="form-inline" action="{% url 'haystack_search' %}">
                    <input class="form-control" type="text" name="q" id="s" placeholder="搜索...">
                    <button type="submit" class="btn btn-danger btn-small"><i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div id="if-fixed" class="pull-right visible-lg visible-md">
        <i class="fa fa-thumb-tack"></i>
        <div class="icheckbox_flat-red" style="position: relative;"><input type="checkbox"
                                                                           style="position: absolute; opacity: 0;">
            <ins class="iCheck-helper"
                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
        </div>
    </div>
</header>


<section id="zan-bodyer">
    <div class="container">
        <section class="row">
            <section id="mainstay" class="col-md-9">

                {% block main %}


                {% endblock %}

            </section>
            <aside id="sidebar" class="col-md-3">
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">公告</h2>
                    <hr>

                    <div class="textwidget">
                        {% block blog-textwidget %}

                        {% endblock %}
                    </div>
                </div>
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">标签</h2>
                    <hr>
                    {% block tags %}


                    {% endblock %}
                </div>
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">分类目录</h2>
                    <hr>
                    {% block category %}
                        category
                    {% endblock %}
                </div>

                <!-- 分类目录、热门标签、友情链接模块-->
                <div class="panel hidden-xs " style="padding: 10px">


                    <h2 class="widgettitle">友情链接</h2>
                    <hr>


                    {#                    <ul class="nav nav-pills pills-zan">#}
                    {#                        <li class="active"><a href="http://xiaorui.cc/#sidebar-categories" data-toggle="tab">分类目录</a>#}
                    {#                        </li>#}
                    {#                        <li><a href="http://xiaorui.cc/#sidebar-tags" data-toggle="tab">热门标签</a></li>#}
                    {#                        <li><a href="http://xiaorui.cc/#sidebar-links" data-toggle="tab">友情链接</a></li>#}
                    {#                    </ul>#}
                    {#                    <div class="tab-content">#}
                    <div class="tab-pane active nav bs-sidenav fade in" id="sidebar-categories">
                        {##}
                        {#                        <li class="cat-item cat-item-486"><a href="http://xiaorui.cc/category/etcd/"#}
                        {#                                                             title="查看etcd下的所有文章">etcd</a>#}
                        {#                        </li>#}
                        {#                        <li class="cat-item cat-item-148"><a href="http://xiaorui.cc/category/git/"#}
                        {#                                                             title="查看git下的所有文章">git</a>#}
                        {#                        </li>#}
                        {#                        <li class="cat-item cat-item-266"><a href="http://xiaorui.cc/category/golang/"#}
                        {#                                                             title="查看Golang下的所有文章">Golang</a>#}
                        {#                        </li>#}
                        {#                        <li class="cat-item cat-item-57"><a href="http://xiaorui.cc/category/mongodb/"#}
                        {#                                                            title="查看mongodb下的所有文章">mongodb</a>#}
                        {#                        </li>#}

                        {#                        </div>#}
                        <div class="tab-pane nav bs-sidenav fade" id="sidebar-links">
                            <li><a href="http://blog.51reboot.com/" target="_blank">51reboot</a></li>

                        </div>
                    </div>
                </div>
            </aside>

        </section>
    </div>
</section>
<!--WP Code Highlight_start-->
{#<script type="text/javascript">#}
{#    window.onload = function () {#}
{#        prettyPrint();#}
{#    };#}
{#</script>#}
<!--WP Code Highlight_end-->
<footer id="main-footor" style="background-color: #3d4450;
  padding: 15px;
  color: white;
  font-size: 1pc;
  border-top: 1px solid #d2d6de;">

    <p style="margin: 10px 0 10px;">Copyright © Medivh 2016 - 2017 All Rights Reserved.京ICP备xxxxxxx号</p>

    <!--统计代码开始-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js?38c49f797f857fe23de49ccf545ad783";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--统计代码结束-->
</footer>

<div style="display: none;" class="fa fa-angle-up" id="gotop"></div>
<script type="text/javascript">
    backTop = function (btnId) {
        var btn = document.getElementById(btnId);
        var d = document.documentElement;
        var b = document.body;
        window.onscroll = set;
        btn.onclick = function () {
            btn.style.display = "none";
            window.onscroll = null;
            this.timer = setInterval(function () {
                d.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                b.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                if ((d.scrollTop + b.scrollTop) == 0) clearInterval(btn.timer, window.onscroll = set);
            }, 10);
        };

        function set() {
            btn.style.display = (d.scrollTop + b.scrollTop > 100) ? 'block' : "none"
        }
    };
    backTop('gotop');
</script>
<script type="text/javascript" src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

{% block js %}

{% endblock %}

{% compress js %}
    <script type="text/javascript" src="/static/custom/wp-code-highlight.js"></script>
    <script type="text/javascript" src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
    <script type="text/javascript" src="{% static 'editor/editormd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'editor/lib/prettify.min.js' %}"></script>
{% endcompress %}

</body>
</html>