

<!DOCTYPE html>
<html lang="zh-CN"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- 设置标题 -->
    <title>
        
    Medivh' blog ...

    </title>
    <link rel="icon" href='/statics/imgs/favicon.ico' type="image/x-icon"/>

    <!-- 设置描述性标签和关键词标签 -->

    <meta content="python,运维自动化,运维平台化,saltstack,ansible,docker" name="description">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- icon -->
    <link rel="stylesheet" href="/statics/CACHE/css/1fca35800369.css" type="text/css" />

    <script type="text/javascript" src='https://code.jquery.com/jquery-3.2.1.js'></script>



    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255, 255, 255, .38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>

</head>
<body class="home blog">
<header id="zan-header" class="navbar navbar-inverse bs-docs-nav">
    <nav class="container">
        <div class="navbar-collapse bs-navbar-collapse collapse">
            
    <ul class="nav navbar-nav" id="nav_head">
        <li><a href="/">首页</a></li>
    </ul>


            <div class="search visible-lg">
                <form method="get" id="searchform" class="form-inline" action="/search/">
                    <input class="form-control" type="text" name="q" id="s" placeholder="搜索...">
                    <button type="submit" class="btn btn-danger btn-small"><i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div id="if-fixed" class="pull-right visible-lg visible-md">
        <i class="fa fa-thumb-tack"></i>
        <div class="icheckbox_flat-red" style="position: relative;"><input type="checkbox"
                                                                           style="position: absolute; opacity: 0;">
            <ins class="iCheck-helper"
                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
        </div>
    </div>
</header>


<section id="zan-bodyer">
    <div class="container">
        <section class="row">
            <section id="mainstay" class="col-md-9">

                
    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">02</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/31/"
                        >程序员，是时候让大家听听你的声音了！ </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/31/"
                            title="程序员，是时候让大家听听你的声音了！" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>16</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/31/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        2017 年 10 月，云栖社区特发起“2017 中国开发者大调查”活动，力邀广大技术玩家一起，谱绘中国软件开发者当前最真实的生存、技术及行业现状，也希望通过这份调查问卷对广大开发者未来的职业规划有所帮助。
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/31/"
                   title="详细阅读  2017 年 10 月，云栖社区特发起“2017 中国开发者大调查”活动，力邀广大技术玩家一起，谱绘中国软件开发者当前最真实的生存、技术及行业现状，也希望通过这份调查问卷对广大开发者未来的职业规划有所帮助。">阅读全文 <span class="badge">16</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">11月</span>
                <span class="day">02</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/32/"
                        >我们的征程是星辰大海，迈向不可知的彼岸 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/32/"
                            title="我们的征程是星辰大海，迈向不可知的彼岸" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>6</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/32/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        我们本着传播知识的初心，决定将内容反倾销到那些不可知、不存在的地方。毕竟，我们是要成为海贼王的男人嘛！ :D
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/32/"
                   title="详细阅读  我们本着传播知识的初心，决定将内容反倾销到那些不可知、不存在的地方。毕竟，我们是要成为海贼王的男人嘛！ :D">阅读全文 <span class="badge">6</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">10月</span>
                <span class="day">31</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/33/"
                        >Chrome 开发团队宣布将停止支持 HPKP 公钥固定 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/33/"
                            title="Chrome 开发团队宣布将停止支持 HPKP 公钥固定" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>1</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/33/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        参与撰写和制定该标准（RFC 7469）的谷歌工程师称公钥固定变得非常可怕，该标准会对生态造成严重危害。
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/33/"
                   title="详细阅读  参与撰写和制定该标准（RFC 7469）的谷歌工程师称公钥固定变得非常可怕，该标准会对生态造成严重危害。">阅读全文 <span class="badge">1</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">10月</span>
                <span class="day">27</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/34/"
                        >PingCAP 推出 TiDB 1.0 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/34/"
                            title="PingCAP 推出 TiDB 1.0" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/34/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        TiDB 是一个开源的分布式混合事务/分析处理 （HTAP） 数据库，它使企业能够使用单个数据库来满足这两个负载。
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/34/"
                   title="详细阅读  TiDB 是一个开源的分布式混合事务/分析处理 （HTAP） 数据库，它使企业能够使用单个数据库来满足这两个负载。">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">10月</span>
                <span class="day">25</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/35/"
                        >阿里云携手 NVIDIA 拓展人工智能培训计划 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/35/"
                            title="阿里云携手 NVIDIA 拓展人工智能培训计划" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/35/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        在“飞天·智能” 2017 杭州云栖大会期间，阿里云宣布将携手 NVIDIA 提供人工智能培训计划，双方将基于阿里云平台为人工智能领域的开发者、数据科学家和研究人员提供人工智能动手实验培训。
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/35/"
                   title="详细阅读  在“飞天·智能” 2017 杭州云栖大会期间，阿里云宣布将携手 NVIDIA 提供人工智能培训计划，双方将基于阿里云平台为人工智能领域的开发者、数据科学家和研究人员提供人工智能动手实验培训。">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">10月</span>
                <span class="day">25</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/36/"
                        >Ubuntu 18.04 LTS 定名为“仿生河狸”，将于明年 4 月 26 日发布 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/36/"
                            title="Ubuntu 18.04 LTS 定名为“仿生河狸”，将于明年 4 月 26 日发布" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/36/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        “为纪念这一孜孜不倦的辛劳，这次我们的吉祥物是一个以其精力充沛的态度、勤劳的天性和工程能力而闻名的哺乳动物。同时，我们给它赋予 21 世纪的新精神，以纪念永不停息的 Ubuntu Core 机器人们。女士们、先生们，让我们欢迎 18.04 LTS —— 仿生河狸。”
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/36/"
                   title="详细阅读  “为纪念这一孜孜不倦的辛劳，这次我们的吉祥物是一个以其精力充沛的态度、勤劳的天性和工程能力而闻名的哺乳动物。同时，我们给它赋予 21 世纪的新精神，以纪念永不停息的 Ubuntu Core 机器人们。女士们、先生们，让我们欢迎 18.04 LTS —— 仿生河狸。”">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">10月</span>
                <span class="day">20</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/37/"
                        >阿里巴巴 AliOS Things 正式开源 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/37/"
                            title="阿里巴巴 AliOS Things 正式开源" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/37/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        AliOS 总裁胡晓明谈及他的观点，他认为 AliOS 操作系统不应该仅仅是阿里的操作系统，希望通过把 AliOS 开源，让 OS 变成各行各业大家的 OS
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/37/"
                   title="详细阅读  AliOS 总裁胡晓明谈及他的观点，他认为 AliOS 操作系统不应该仅仅是阿里的操作系统，希望通过把 AliOS 开源，让 OS 变成各行各业大家的 OS">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
        <div class="article well clearfix">
            <div class="data-article hidden-xs">
                <span class="month">10月</span>
                <span class="day">20</span>
            </div>

            <!-- PC端设备文章属性 -->
            <section class="visible-md visible-lg">

                <div class="title-article">
                    <h1>
                        <a class="blog-title"
                           href="/post/38/"
                        >Ubuntu 17.10（AA）发布 </a></h1>

                </div>
                <div class="tag-article container">


                    <span class="label label-zan"><i class="fa fa-tags"></i>新闻 <a
                            href="/post/38/"
                            title="Ubuntu 17.10（AA）发布" rel="category tag"></a></span>
                    <span class="label label-zan"><i class="fa fa-user"></i> <a
                            href="#" title="由medivh发布" rel="author">jack</a></span>
                    <span class="label label-zan"><i class="fa fa-eye"></i> <a>0</a> views</span>
                </div>
                <div class="content-article">
                    <figure class="thumbnail"><a
                            href="/post/38/"
                    ></a>

                    </figure>
                    <div class="alert alert-zan">
                        今天，Canonical 公司发布了 Ubuntu 17.10，这个版本不是 LTS 版本，因此其支持期只有 9 个月，支持到 2018 年 7 月。
                    </div>
                </div>
                <a class="btn btn-danger pull-right read-more"
                   href="/post/38/"
                   title="详细阅读  今天，Canonical 公司发布了 Ubuntu 17.10，这个版本不是 LTS 版本，因此其支持期只有 9 个月，支持到 2018 年 7 月。">阅读全文 <span class="badge">0</span></a>
            </section>

        </div>

    
    <div style="float: right;margin-top: -20px;">
        <nav>
            <ul class="pagination">
                
                
                    <li class="active"><a href="?page=1">1</a></li>
                
                    <li ><a href="?page=2">2</a></li>
                
                
                    <li class="">
                        <a href="?page=2" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                
            </ul>
        </nav>
    </div>



            </section>
            <aside id="sidebar" class="col-md-3">
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">公告</h2>
                    <hr>

                    <div class="textwidget">
                        

    <p style="font-size: 1pc;line-height: 30px;">
        博客使用阿里云主机，大家可以使用我的幸运券 <a style="font-size: 1.5pc;color: #d9534f;"
                                 href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=yw1joxsh&utm_source=yw1joxsh">点击获取~~~百分百中奖
        ！！！</a>

    </p>

                    </div>
                </div>
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">标签</h2>
                    <hr>
                    

    <div class="tagcloud">
    </div>

                </div>
                <div class="panel hidden-xs " style="padding: 10px">

                    <h2 class="widgettitle">分类目录</h2>
                    <hr>
                    
    <ul id="side_category">
    </ul>

                </div>

                <!-- 分类目录、热门标签、友情链接模块-->
                <div class="panel hidden-xs " style="padding: 10px">


                    <h2 class="widgettitle">友情链接</h2>
                    <hr>


                    
                    
                    
                    
                    
                    
                    
                    <div class="tab-pane active nav bs-sidenav fade in" id="sidebar-categories">
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

                        
                        <div class="tab-pane nav bs-sidenav fade" id="sidebar-links">
                            <li><a href="http://blog.51reboot.com/" target="_blank">51reboot</a></li>

                        </div>
                    </div>
                </div>
            </aside>

        </section>
    </div>
</section>
<!--WP Code Highlight_start-->





<!--WP Code Highlight_end-->
<footer id="main-footor" style="background-color: #3d4450;
  padding: 15px;
  color: white;
  font-size: 1pc;
  border-top: 1px solid #d2d6de;">

    <p style="margin: 10px 0 10px;">Copyright © Medivh 2016 - 2017 All Rights Reserved.</p>

    <!--统计代码开始-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js?38c49f797f857fe23de49ccf545ad783";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!--统计代码结束-->
</footer>

<div style="display: none;" class="fa fa-angle-up" id="gotop"></div>
<script type="text/javascript">
    backTop = function (btnId) {
        var btn = document.getElementById(btnId);
        var d = document.documentElement;
        var b = document.body;
        window.onscroll = set;
        btn.onclick = function () {
            btn.style.display = "none";
            window.onscroll = null;
            this.timer = setInterval(function () {
                d.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                b.scrollTop -= Math.ceil((d.scrollTop + b.scrollTop) * 0.1);
                if ((d.scrollTop + b.scrollTop) == 0) clearInterval(btn.timer, window.onscroll = set);
            }, 10);
        };

        function set() {
            btn.style.display = (d.scrollTop + b.scrollTop > 100) ? 'block' : "none"
        }
    };
    backTop('gotop');
</script>


    <script>
        //计数器
        function Click(obj) {
            $('.btn btn-danger pull-right read-more').click()
            {
               alert('+1');
            }
            ;

        }

        //获取标签
        function Tags(obj) {
            $.get("/side/", {name: 'tag'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var tag = tmp[i].name;
                    html = '<a href="/tags/' + tag + '/" class="tag-link-43" title="6个话题" style="color:#1270d6;font-size: 12.06976744186pt;">' + tag + '</a>'
                    $('.tagcloud').append(html);
                }
            });
        }
        ;

        //获取版块
        function Category(obj) {
            $.get("/side/", {name: 'category'}, function (data) {
                var tmp = JSON.parse(data);
                for (let i = 0; i < tmp.length; i++) {
                    var category_name = tmp[i].name;
                    var category_alias = tmp[i].alias;
                    html = ' <li><a href="/category/' + category_name + '/">' + category_alias + '</a></li> '
                    $("#nav_head").append(html);
                    side = ' <li class="cat-item cat-item-313"><a href="/category/' + category_name + '/>' + category_alias + '</a> </li>'
                    $("#side_category").append(html);


                }
            });
        }
        ;

        Tags();
        Category();

    </script>

<script type="text/javascript" src="/statics/CACHE/js/fedafcf32a9f.js"></script>

</body>
</html>